<div class="f-cb f-mb10"><h3 class="list-title">User数据</h3> <span class="f-fr"><a href="#!/?test/test/addItem" class="f-btn f-btn-success">增加数据</a></span></div>
<div class="mkoa-box"  ms-controller="test-list">
    <mkoa:pager  ms-attr-url="app.$host+'test/test/findAll'" ms-attr-perPages="10">
        <table slot="list" class="mkoa-table">
            <thead>
            <tr><th width="30">ID</th><th>姓名</th><th width="100">操作</th></tr>
            </thead>
            <tbody>
            <tr ms-repeat="listData"><td>{{el.id}}</td><td>{{el.name}}</td>
           <td><a ms-attr-href="'#!/?test/test/addItem?id='+el.id"  class="f-btn f-btn-sm">编辑</a> <button  ms-click="remove($remove,el.id)" class="f-btn f-btn-sm">删除</button></td>
            </tr>
            </tbody>
        </table>
    </mkoa:pager>
</div>
<script>
    require(["mkoaAjax/mkoaAjax","mkoaPager/mkoaPager"], function ($a){
        var list=avalon.define({
            $id:'test-list',
            remove:function($remove,id){
                $a.getJSON(app.$host +'test/test/delete',{id:id},function(data){//删除数据
                    if(!data.error){
                        $remove();
                    }
                });
            }
        });
        avalon.scan();
    });
</script>