lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea
pids
/Application/classify
logs
results
install.json
/Application/test
static/upload

npm-debug.log

Application/builder/data


node_modules
Application/builder/static/admin/lib
Application/builder/static/admin/css
Application/builder
Application/news
Application/socket
Application/ucenter
Application/setting
static/css
static/lib
cache/low
Application/install
Application/upload