<div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">
        <li><a href="<%=$HOST%>builder/index"><span class="am-icon-home"></span> 增加模型</a></li>
        <li><a href="<%=$HOST%>builder/main/list"><span class="am-icon-puzzle-piece"></span>  历史数据</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-bookmark"></span> 公告</p>
            <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-tag"></span> wiki</p>
            <p>Mkoa sequelizejs通用模型及控制器生成</p>
        </div>
    </div>
</div>