<form ms-controller="userType" ms-widget="validation">
    <div class="m-form-group">
        <label>医院名称</label>
        <input type="text" class="form-control input-lg"  ms-duplex-required="form.hospital" data-duplex-event="change"  name="hospital" placeholder="输入医院名称">
    </div>
    <div class="m-form-group">
        <label>所在地</label>
        <div ms-include-src="app.$tplUrl+'chooseArea.html'" data-include-replace="true"></div>
    </div>
    <div class="m-form-group">
        <label>医院等级</label>
        <select name="yydj" ms-duplex="form.yydj"><option value='0'>请选择医院等级</option><option value="1" >三级特等</option><option value="2" >三级甲等</option><option value="3" >三级乙等</option><option value="4" >三级丙等</option><option value="5" >二级甲等</option><option value="6" >二级乙等</option><option value="7" >二级丙等</option><option value="8" >一级甲等</option><option value="9" >一级乙等</option><option value="10">一级丙等</option></select>
    </div>
    <div class="m-form-group">
        <label>医院类型</label>
        <select name="type" ms-duplex="form.type"><option value="1" >私立</option><option value='2'>公立</option></select>
    </div>
    <button type="submit" ms-class="u-btn-c4:isLock"  class="u-btn u-btn-lg f-mt15" >{{isLock?'稍等...':'保存';}}</button>
</form>

<script>
    var userType=avalon.define({
        $id:'userType',
        isLock:0,
        form:{hospital:'',yydj:0,type:1},
        validation: app.$getValidation(function(form){
            userType.isLock=1;
            $.post(app.$host+'member/info/add',$(form).serialize(),function(data) {
                if(data.error){
                    $.showMsg(data.error,2);
                    userType.isLock=0;
                }else{//输入成功
                    $.showMsg('提交成功！正在跳转...',1);
                    setTimeout(function(){location.href=app.$root+"ucenter.html";},1000);
                }
            });
        })
    });
    userType.$watch("setData", function(form){
        sys.extend(userType.form,form);
    });
</script>