<div class="c-title f-cb">
    <a href="javascript:history.go(-1);" class="c-back f-fl"><i class="m-ico">&#xe601;</i></a><span class="c-title-h f-fl">修改帐号信息</span>
    <!--<span class="f-fr f-mr10 f-pt5"><a class="u-btn f-fl" href="#">s</a></span>-->
</div>
<div ms-controller="site_eSite">
    <div class="c-box f-mt15 f-tal f-bc f-wb600 f-p20" >
        <form ms-widget="validation">
            <div class="m-form-group">
                <label>官网名称</label>
                <input type="text" class="form-control input-lg"  ms-duplex-maxlength-minlength-required="form.title" maxlength="40" minlength="1" data-duplex-event="change" name="title" placeholder="官网名称">
            </div>
            <div class="m-form-group">
                <label>官网简介</label>
                <textarea  class="form-control"  ms-duplex-maxlength-minlength-required="form.smallText" maxlength="200" minlength="1" data-duplex-event="change" name="smallText" placeholder="填写200字以内简介" ></textarea>
            </div>
            <button type="submit"  ms-class="u-btn-c4:isLock"  class="u-btn u-btn-lg f-mt15" >{{isLock?'稍等...':'保存';}}</button>
        </form>
    </div>
</div>
<script>

    var vm = avalon.define({
        $id: 'site_eSite',
        form:{title:'',smallText:''},
        isLock:0,
        validation: app.$getValidation(function(form){
            vm.isLock=1;
            $.post(app.$host+'site/base/update',$(form).serialize(),function(data) {
                if(data.error){
                    $.showMsg(data.error,2);
                }else{//输入成功
                    $.showMsg('保存成功！',1);
                    sys.extend(app.module['site'],vm.form);
                }
                vm.isLock=0;
            });
        })
    });
    sys.extend(vm.form,app.module['site']);
    avalon.scan();

</script>