<div class="c-title f-cb">
    <a href="javascript:history.go(-1);" class="c-back f-fl"><i class="m-ico">&#xe601;</i></a><span class="c-title-h f-fl">修改密码</span>
    <!--<span class="f-fr f-mr10 f-pt5"><a class="u-btn f-fl" href="#">s</a></span>-->
</div>
<div ms-controller="member_ePassword">
    <div class="c-box f-mt15 f-tal f-bc f-wb600 f-p20" >
        <form ms-widget="validation">
            <div class="m-form-group">
                <label>旧密码</label>
                <input type="password" name="oldpassword" data-duplex-event="change" ms-duplex-maxlength-minlength-required="form.oldpassword" maxlength="20" minlength="6" class="form-control input-lg" id="oldPassword" placeholder="请输入旧密码">
            </div>
            <div class="m-form-group">
                <label for="Password">新密码</label>
                <input type="password" name="password" data-duplex-event="change" ms-duplex-maxlength-minlength-required="form.password" maxlength="20" minlength="6" class="form-control input-lg" id="Password" placeholder="请输入新密码">
            </div>
            <div class="m-form-group">
                <label for="exampleInputPassword2">再次输入密码</label>
                <input type="password" ms-duplex-repeat-required="form.password2" data-duplex-repeat="Password" data-duplex-event="change" data-duplex-message="密码必须一致" class="form-control input-lg" id="exampleInputPassword2" placeholder="再次输入密码">
            </div>
            <button type="submit"  ms-class="u-btn-c4:isLock"  class="u-btn u-btn-lg f-mt15" >{{isLock?'稍等...':'保存';}}</button>
        </form>
    </div>
</div>
<script>

    var vm = avalon.define({
        $id: 'member_ePassword',
        form:{ password:'', password2:'',oldpassword:''},
        isLock:0,
        validation: app.$getValidation(function(form){
            vm.isLock=1;
            $.post(app.$host+'member/setting/changePassword',$(form).serialize(),function(data) {
                if(data.error){
                    $.showMsg(data.error,2);
                }else{//输入成功
                    $.showMsg('保存成功！',1);
                    sys.extend(app.module['site'],vm.form);
                }
                vm.isLock=0;
            });
        })
    });
    avalon.scan();

</script>